{% extends "::base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script>

        function callbackListerJSON(tabProduits) {

            var html = "";
            for (i = 0; i < tabProduits.length; i++) {
                html += tabProduits[i].titre + " " + tabProduits[i].prix + "<br>";
            }
            $("#cible").html( html );

        }

        function clicBoutonListerJSON() {

            $.getJSON("{{ path("ajax_lister_json") }}", callbackListerJSON);
        }

        function callbackAjouterPro(reponse) {

            clicBouton();
        }

        function ajouterProd() {

            $.post("{{ path('ajax_ajouter_prod') }}", $('form').serialize(), callbackAjouterPro);
        }

        function callbackSup(reponseDuServeur) {

            //$("#cible").html( reponseDuServeur );
            clicBouton();
        }

        function clicBouton() {

            $("#cible").load("{{ path("ajax_lister_produits") }}");
        }
    </script>
{% endblock %}

{% block body %}
    <button onclick="clicBoutonListerJSON();">$.getJSON</button>
    <button onclick="clicBouton()">Appel avec $('#cible').load</button>
    <div id="cible">***</div>
    <br>
    Ajout<br>
    {{ form(monForm) }}
{% endblock %}
